**.Rproj
**.Rproj.user
**.Rhistory
**.RData
**.Rdata
**.Ruserdata

**.glo
**.ist
**.out
**.nav
**.log
**.bbl
**.blg
**.aux
**.toc
**.snm
**.fdb_latexmk
**.fls
**.log

Article.*

/UTILS
/ArticleRmd/Routput
/ArticleRmd/ArticleOutput
/ArticleRmd/figures
.Rproj.user
