
/*https://fonts.googleapis.com/css?family=Alegreya+Sans:bold,bolditalic,italic*/
/*@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:bold,bolditalic,italic');*/


slides > slide.dark {
  background-image: url(images/texturebg.png) !important;
}

slide img {
  max-width: 768px;
  max-height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

slides > slide.backdrop {
  background-image: url(images/texturebg.png);
  background-position: 0 100%;
  background-repeat: repeat-x;
}

.title-slide hgroup p {
  font-weight: 300;
  text-align: center;
  font-variant: small-caps;
}

.title-slide hgroup h1 {
    font-size: 45px;
    background: #3e8ac7;
    color: #ffffff;
    /*padding-top: 10px;*/
    padding-right: 15px;
    /*padding-bottom: 10px;*/
    padding-left: 15px;
    text-align: center;
}

.title-slide hgroup h2 {
    font-size: 25px;
    text-align: center;
}

.title-slide hgroup {
  bottom: 100px;
}

body {
    background-color: #000000;
    background-image: url(images/BG03_Beamer.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.segue {
    padding: 0;
}

.segue hgroup {
  position: absolute;
  padding: 60px 120px 60px 120px;
}

slides > slide:not(.nobackground):after {
  color: #ffffff;
}
